
body {
    width: 400px;
    height: 500px;
    padding: 0;
    margin: 0;
}

/*
    Style for the top level div
*/

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF6CF;
    border: 5px solid #FF3F38;
    border-radius: 5%;
}

/*
    Style for the top banner
*/

#section1 {
    display: flex;
    justify-content: center;
    padding: 2px;
    text-align: center;
    background-color: #FF3F38;
    margin: 2px;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
#section1 img {
    size: 2px;
    margin-right: 3px;
}
#section1 h1 {
    font-size: 1.9em;
    padding-right: 25px;
    margin-top: 20px;
}

/*
    Style for the break line
*/

#section2 {
    display: flex;
    align-self: center;
    border: 2px dotted black;
    margin: 10px 0 10px 0;
    width: 90%;
}

/*
    Style for the message
*/

#section3 {
    text-align: center;
    margin: 25px 0 25px 0;
}
#section3 h2 {
    color: #FF3F38;
    font-size: 40px;
}

/*
    Style for second break line
*/

#section4 {
    display: flex;
    align-self: center;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    width: 90%;
}

/*
    Style for buttons section
*/

#section5, #section6, #section7 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#btn1 {
    width: 15em;
    height: 4em;
    background-color: #FFA834;
    border: 7px dashed #FF3F38;
}